<div class="card" >
    <div class="card-body">
        <h5 class="card-title" [className]="showText? 'full-description' : 'text-card' ">{{product.name}}</h5>
        <p [className]="showText? 'full-description' : 'text-card' " >{{product.description}}</p>
        <a class="my-3" (click)="onPrestShowText()">{{showText? 'Ver menos' : 'Ver más'}}</a>
        <button class="btn btn-success" (click)="onAddCart(product)">Agregar a carrito</button>
    </div>
    <div class="card-footer">
        <p>Precio : $ {{product.price}}</p>
    </div>
</div>